body {
    background-color: #78AB46; 
    /* font-family: Arial, Helvetica, sans-serif;  */
    align-content: center;
}

h1{
    font-size: 45px;
    text-align: center;
    margin-top: 15px;
    /* padding: 20px; */
}

h2{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
header{
    grid-column: 1 / span 3;
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   padding: 20px;
}
/* nav{
    background-color: #708090;
    font-size: auto;
    text-align: center;
} */

.main{
    text-align: center;
}

/*img{
    height: 200px;
    width: inherit;
    border: 5px black;
    padding:25px;
    border-radius: 10px;
    margin: 10px;
}
*/

.photos .gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    opacity: 90%;
}

.gallery img{
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #009fe1;
    align-content: center;
  } */

.menu{
    background-color: black;
    overflow:hidden;
}
/* .menu li{
    text-align: center;
    color: black;
} */
li{
    display: block;
    text-align: center;
    align-self: center;
    padding: 20px;
    background: darkolivegreen;
    border: 2px solid lightblue;
    margin: 1%;
    border-radius: 15px;
}


li a:hover {
    background-color: #ffd500;
}

.menu li.active > a {
    /* text-decoration: underline; */
    background-color: #78AB46;
    color: #FFFFFF;
    text-transform: uppercase;
    
}


/* .photos > img{
    border: 8px #00FF00 dashed;
    border-radius: 8px;
    width: auto;
    height: auto;
    opacity: 0.8;

} */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
}
.container img{
    width: 100%;
    margin: 5px;
    /* border-radius: 5px; */
}

.lakeside-image, .herradurastextblock, .clamlake-image{
    grid-column: 1 / span 1;
    /* width: 100%; */

}

.lakesidetextblock, .herraduras-image, .clamlaketextblock{
    grid-column: 2 / span 1;
}

.lakeside-image, .lakesidetextblock{
    grid-row: 2 / span 1;
    overflow: hidden;
}

.herradurastextblock, .herraduras-image{
    grid-row: 3 / span 1;
}

.clamlaketextblock, .clamlake-image{
    grid-row: 4 / span 1;
    overflow: hidden;
}

.lakesidetextblock , .clamlaketextblock , .herradurastextblock{
    text-align: center;
}

.lakeside-image, .clamlake-image, .herraduras-image{
    /* object-fit: cover; */
    /* border: 10px solid black; */
}

nav a{
    color: black;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline wavy #3B5323	
}

.skip a{
    color: black;
    background:#78AB46;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    /*Your code here*/
    position: absolute;
    top: -40px;
}
.skip a:focus{
    top:0px;
}

footer p{
    font-size: 8px;
    /* text-shadow: darkseagreen; */
    background-color: darkolivegreen;
}
@media screen and (min-width: 850px){

  }